@import 'variables';

body.dark-mode {
  // Overwrite dark mode variables
  --bg: #{$dark-bg-color};
  --card: #{$dark-card-bg};
  --txt: #{$dark-txt-color};
  --txtL: #{$dark-txt-light-color};
  --brd: #{$dark-border-color};
  
  // Custom dark mode overrides
  .welcome-details {
    background: rgba(99, 102, 241, 0.05);
    border-color: rgba(99, 102, 241, 0.15);
  }

  .welcome-detail {
    border-bottom-color: rgba(255, 255, 255, 0.05);
  }

  .welcome-instructions {
    background: rgba(16, 185, 129, 0.03);
    border-color: rgba(16, 185, 129, 0.15);
  }

  .lang {
    background: #1E293B;
  }

  .lang-btn.active {
    background: var(--card);
    color: var(--p);
  }

  .comp {
    background: #032135;
    border-color: #07476F;
    
    h4 {
      color: #38BDF8;
    }
    
    div {
      color: #E0F2FE;
    }
  }

  .opt:hover:not(.submitted) {
    background: rgba(99, 102, 241, 0.03);
  }

  .opt.sel {
    background: rgba(99, 102, 241, 0.08);
  }

  .opt.correct {
    background: #064E3B !important;
    border-color: #059669 !important;
  }

  .opt.wrong {
    background: #7F1D1D !important;
    border-color: #DC2626 !important;
  }

  .sol {
    background: #064E3B;
    border-color: #059669;
    
    h4 {
      color: #34D399;
    }
  }

  .sol-info {
    border-bottom-color: rgba(52, 211, 153, 0.2);
  }

  .timer {
    background: #78350F;
    border-color: #92400E;
    color: #FDE68A;
  }

  .stat {
    background: rgba(30, 41, 59, 0.4);
    
    &.c {
      background: rgba(4, 120, 87, 0.05);
    }
    
    &.w {
      background: rgba(185, 28, 28, 0.05);
    }
  }

  .q-num {
    background: #1E293B;
    
    &:hover {
      background: #334155;
    }
    
    &.unattempted {
      background: #334155;
      color: #94A3B8;
    }
  }

  th {
    background: rgba(30, 41, 59, 0.8);
  }
}
