@import 'variables';

:root {
  --p: #{$p-color};
  --s: #{$s-color};
  --d: #{$d-color};
  --w: #{$w-color};
  --y: #{$y-color};
  --bg: #{$bg-color};
  --card: #{$card-bg};
  --txt: #{$txt-color};
  --txtL: #{$txt-light-color};
  --brd: #{$border-color};
}

@import 'layouts';
@import 'components';
@import 'dark';
